<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div style="display: flex; flex-direction: column; align-items: center; justify-content: center; text-align: center;">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQyLMNSF8zBALUiPpdbiOdOfeVLUNqU0bhHRQ&s" alt="404 Error Image" style="max-width: 100%; height: auto;">
    <h1>404 Error, Page Not Found</h1>
   <a href="/"> <button>Go back</button></a>
</div>

    
    
</body>
</html>